.atriby{
    display: flex;
    width: 100%;
    max-height: 570px;
    .atriby_block{
        width: 80%;
        margin: 0 auto;
        display: flex;
        .atriby_block_in{
            list-style: none;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            padding: 40px 0;
            align-items: center;
    justify-content: center;
            .atriby_block_in_item{
                padding: 10px 0px;
                width: 350px;
                display: flex;
    align-items: center;
                .atriby_img{
                    display: flex;
                    padding: 0 20px;
                    .fa{
                        color: #f31f79;
                    }
                }
                .atriby_text{
                    display: flex;
    flex-direction: column;
    width: 70%;
                    .atriby_title{

                    }
                    .atriby_text{

                    }
                }
            }
        }
    }
}